@import url('https://fonts.googleapis.com/css2?family=Catamaran&family=Lato&family=Mulish&display=swap');
h1, h2, h3, h4, h5, h6, .top-navbar {
	font-family: 'Catamaran', Helvetica, Arial, sans-serif;
}
button, .top-navbar a {
	font-family: 'Lato', Helvetica, Arial, sans-serif;
}
p, footer {
	font-family: 'Mulish', Helvetica, Arial, sans-serif;
}
.top-navbar .navbar-brand {
	color: rgb(255, 210, 72);
	font-size: 1.5rem;
}
.top-navbar .navbar-brand:hover, .top-navbar .navbar-nav .nav-link:hover {
	color: rgb(255, 255, 255);
}
.section-one {
	background: url("/assets/img/bg-pattern.png"), linear-gradient(90deg, rgb(218, 37, 52), rgb(128, 65, 144));
}
.start-now-btn {
    border: 2px solid white;
}
.start-now-btn:hover {
	transition: all 300ms;
	border-color: #fdcc52;
    background-color: #fdcc52;
}
.telephone-photos-container {
	display: flex;
	position: relative;
	justify-content: center;
	max-width: 18rem;
}
.phone-img {
	max-width: 100%;
}
.inner-phone {
	position: absolute;
	top: 4rem;
	right: 1.05rem;
	max-width: 88%;
}
.section-two {
    background-color: rgb(253, 203, 80);
}
.section-two img {
    width: 268px;
}