@import url('https://fonts.googleapis.com/css2?family=Catamaran&family=Lato&family=Mulish&display=swap');

h1, h2, h3, h4, h5, h6, .top-navbar {
	font-family: 'Catamaran', Helvetica, Arial, sans-serif;
}
button, .top-navbar a {
	font-family: 'Lato', Helvetica, Arial, sans-serif;
}
p, footer {
	font-family: 'Mulish', Helvetica, Arial, sans-serif;
}
.top-navbar .navbar-brand {
    color: rgb(255, 210, 72);
    font-size: 1.5rem;
}
.top-navbar .navbar-brand:hover, .top-navbar .navbar-nav .nav-link:hover {
    color: rgb(255, 255, 255);
}
.section-one {
    background: url("/assets/img/bg-pattern.png"), linear-gradient(90deg, rgb(218, 37, 52), rgb(128, 65, 144));
}
.start-now-btn:hover {
    background-color: #fdcc52;
    border-color:#fdcc52;
    transition: all 300ms;
}
.telephone-photos-container {
    position: relative;
    display: flex;
    justify-content: center;
}
.inner-phone {
    position: absolute;
    top: 83px;
    right: 202px;
}